build/
dist/
downloads/
javadoc/
reports/

cobertura.ser

/projects/connector-manager/external_cm.keystore
/projects/connector-manager/testdata/tmp/
/projects/connector-manager/third-party/tests/jsr-170*.jar
/projects/install/
