## 
# These properties are specific to the individual's development and
# test environment. This properties file should be located in your
# home directory, e.g.: ~/google-enterprise-connector-manager.properties


## 
# Build Properties

# JDK 7 bootclasspath.
build.bootclasspath = /Library/Java/JavaVirtualMachines/jdk1.7.0_76.jdk/Contents/Home/jre/lib/rt.jar:/Library/Java/JavaVirtualMachines/jdk1.7.0_76.jdk/Contents/Home/jre/lib/jsse.jar:/Library/Java/JavaVirtualMachines/jdk1.7.0_76.jdk/Contents/Home/jre/lib/jce.jar
