.svn/
./*/.svn/
.classpath
.settings/
.project
bin/
build/
dist/
*~
projects/connector-manager/doc/javadoc/
projects/connector-manager/external_cm.keystore
projects/connector-manager/testdata/tmp/
projects/connector-manager/tests_outdir/
projects/downloads/
