<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="FeedConnection"
		class="com.google.enterprise.connector.pusher.GsaFeedConnection">
		<constructor-arg index="0" type="java.lang.String"
			value="gsahost" />
		<constructor-arg index="1" type="int" value="19900" />
	</bean>

	<bean id="Pusher"
		class="com.google.enterprise.connector.pusher.DocPusher">
		<constructor-arg index="0" type="java.lang.String"
			value="datasource_tomcat" />
		<constructor-arg index="1" ref="FeedConnection" />
	</bean>

	<bean id="ConnectorScheduleStore"
		class="com.google.enterprise.connector.persist.MockConnectorScheduleStore">
	</bean>

	<bean id="ConnectorStateStore"
		class="com.google.enterprise.connector.persist.PrefsStore" />

	<bean id="Instantiator"
		class="com.google.enterprise.connector.instantiator.SpringInstantiator">
		<constructor-arg ref="Pusher" />
		<constructor-arg ref="ConnectorStateStore" />
	</bean>

	<bean id="Monitor"
		class="com.google.enterprise.connector.monitor.HashMapMonitor" />

	<bean id="WorkQueue"
		class="com.google.enterprise.connector.common.WorkQueue">
		<constructor-arg index="0" type="int" value="2" />
		<constructor-arg index="1" type="long" value="5000" />
	</bean>

	<bean id="Manager"
		class="com.google.enterprise.connector.manager.ProductionManager">
		<property name="connectorScheduleStore"
			ref="ConnectorScheduleStore" />
		<property name="connectorStateStore"
			ref="ConnectorStateStore" />
		<property name="scheduler"
			ref="TraversalScheduler" />
		<property name="instantiator" ref="Instantiator" />
	</bean>

	<bean id="TraversalScheduler"
		class="com.google.enterprise.connector.scheduler.TraversalScheduler">
		<constructor-arg index="0" ref="Instantiator" />
		<constructor-arg index="1" ref="Monitor" />
		<constructor-arg index="2" ref="WorkQueue" />
		<constructor-arg index="3" ref="ConnectorScheduleStore" />
	</bean>

</beans>
