<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- This is the application context for regression tests.  -->
<beans>
  <bean id="EncryptedPropertyPlaceholderConfigurer"
        class="com.google.enterprise.connector.instantiator.EncryptedPropertyPlaceholderConfigurer">
  </bean>

  <bean id="SessionManager"
        class="com.google.enterprise.security.manager.LocalSessionManager">
  </bean>

  <bean id="AuthzResponder"
        class="com.google.enterprise.saml.server.AuthzResponderImpl">
  </bean>

  <bean id="Instantiator"
        class="com.google.enterprise.connector.instantiator.SpringInstantiator">
    <constructor-arg><null/></constructor-arg>
    <property name="scheduler" ref="TraversalScheduler"/>
  </bean>

  <bean id="ConnectorConfigStore"
        class="com.google.enterprise.connector.persist.FileStore">
  </bean>

  <bean id="ConnectorScheduleStore"
        class="com.google.enterprise.connector.persist.FileStore">
  </bean>

  <bean id="ConnectorStateStore"
        class="com.google.enterprise.connector.persist.FileStore">
  </bean>

  <!-- Spring does not like to call static setters to do injection of class
       field values.  This StaticInitializerBeanFactoryPostProcessor can
       perform that function, even though the syntax for doing so is not
       as convenient.
  -->
  <bean class="com.google.enterprise.connector.common.StaticInitializerBeanFactoryPostProcessor">
     <property name="classes">
        <map>
          <entry key="com.google.enterprise.connector.instantiator.InstanceInfo">
            <map>
              <entry key="connectorConfigStore" value-ref="ConnectorConfigStore"/>
              <entry key="connectorScheduleStore" value-ref="ConnectorScheduleStore"/>
              <entry key="connectorStateStore" value-ref="ConnectorStateStore"/>
            </map>
          </entry>
        </map>
     </property>
  </bean>

  <bean id="IdentityConfig"
	class="com.google.enterprise.security.identity.CsvConfig">
    <constructor-arg index="0" value="AuthSites.conf" />
  </bean>

  <bean id="BackEnd"
        class="com.google.enterprise.saml.server.BackEndImpl">
    <constructor-arg index="0" ref="SessionManager" />
    <constructor-arg index="1" ref="AuthzResponder" />
    <property name="identityConfig" ref="IdentityConfig" />
  </bean>

  <bean id="Manager"
        class="com.google.enterprise.connector.manager.ConnectorManager">
    <property name="instantiator" ref="Instantiator" />
    <property name="backEnd" ref="BackEnd" />
  </bean>

  <bean id="TraversalScheduler"
        class="com.google.enterprise.connector.scheduler.TraversalScheduler">
    <constructor-arg index="0" ref="Instantiator" />
    <constructor-arg index="1" ref="Monitor" />
    <constructor-arg index="2" ref="WorkQueue" />
  </bean>

  <bean id="Monitor"
        class="com.google.enterprise.connector.monitor.HashMapMonitor">
  </bean>

  <bean id="WorkQueue"
        class="com.google.enterprise.connector.common.WorkQueue">
    <constructor-arg index="0" type="int" value="2" />
    <constructor-arg index="1" type="long" value="5000" />
    <constructor-arg index="2" type="long" value="5000" />
  </bean>

  <bean id="Metadata"
	class="com.google.enterprise.saml.common.Metadata">
    <constructor-arg index="0" value="saml-metadata.xml" />
    <constructor-arg index="1" value="http://google.com/enterprise/security-manager" />
  </bean>
</beans>
