<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <bean id="EncryptedPropertyPlaceholderConfigurer"
    class="com.google.enterprise.connector.instantiator.EncryptedPropertyPlaceholderConfigurer">
  </bean> 

  <bean id="SessionManager"
    class="com.google.enterprise.security.manager.LocalSessionManager">
  </bean>

  <bean id="AuthzResponder"
    class="com.google.enterprise.saml.server.AuthzResponderImpl">
  </bean>

  <bean id="Instantiator"
    class="com.google.enterprise.connector.instantiator.SpringInstantiator">
    <constructor-arg><null/></constructor-arg>
  </bean>

  <bean id="ConnectorConfigStore"
    class="com.google.enterprise.connector.persist.FileStore">
  </bean>

  <bean id="BackEnd"
    class="com.google.enterprise.saml.server.BackEndImpl">
    <constructor-arg index="0" ref="SessionManager" />
    <constructor-arg index="1" ref="AuthzResponder" />
    <constructor-arg index="2" value="AuthSites.conf" />
  </bean>

  <bean id="ConnectorManager"
    class="com.google.enterprise.connector.manager.ConnectorManager">
    <property name="instantiator" ref="Instantiator" />
    <property name="backEnd" ref="BackEnd" />
  </bean>
</beans>
