<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="ApplicationContextProperties"
		class="java.lang.String">
		<constructor-arg value="/WEB-INF/applicationContext.properties"/>
	</bean>

	<bean id="EncryptedPropertyPlaceholderConfigurer"
		class="com.google.enterprise.connector.instantiator.EncryptedPropertyPlaceholderConfigurer">
		<property name="location" ref="ApplicationContextProperties"/>
	</bean>	

	<bean id="FeedConnection"
		class="com.google.enterprise.connector.pusher.GsaFeedConnection">
		<constructor-arg index="0" type="java.lang.String"
			value="${gsa.feed.host}" />
		<constructor-arg index="1" type="int" value="${gsa.feed.port}" />
	</bean>

	<bean id="Pusher"
		class="com.google.enterprise.connector.pusher.DocPusher">
		<constructor-arg index="0" ref="FeedConnection" />
	</bean>

	<!-- Create a Handler for the Feed Logger and add it to the logger -->
	<bean id="FeedFormatter" class="java.util.logging.SimpleFormatter" />

	<bean id="FeedHandler" class="com.google.enterprise.connector.pusher.FeedFileHandler">
		<constructor-arg index="0" value="${catalina.base}/logs/google-connectors.feed%g.log" />
		<constructor-arg index="1" value="52428800" />
		<constructor-arg index="2" value="10" />
		<property name="level" value="FINER" />
		<property name="encoding" value="UTF-8" />
		<property name="formatter" ref="FeedFormatter" />
	</bean>

	<bean id="FeedWrapperLogger" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod"
			value="com.google.enterprise.connector.pusher.DocPusher.getFeedLogger" />
	</bean>

	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" ref="FeedWrapperLogger" />
		<property name="targetMethod" value="addHandler" />
		<property name="arguments">
			<list>
				<ref bean="FeedHandler" />
			</list>
		</property>
	</bean>

	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" ref="FeedWrapperLogger" />
		<property name="targetMethod" value="setUseParentHandlers" />
		<property name="arguments">
			<list>
				<value>false</value>
			</list>
		</property>
	</bean>

	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" ref="FeedWrapperLogger" />
		<property name="targetMethod" value="setLevel" />
		<property name="arguments">
			<list>
				<value>${feedLoggingLevel}</value>
			</list>
		</property>
	</bean>

	<bean id="ConnectorScheduleStore"
		class="com.google.enterprise.connector.persist.PrefsStore">
	</bean>

	<bean id="ConnectorStateStore"
		class="com.google.enterprise.connector.persist.PrefsStore" />

	<bean id="Instantiator"
		class="com.google.enterprise.connector.instantiator.SpringInstantiator">
		<constructor-arg ref="Pusher" />
		<constructor-arg ref="ConnectorStateStore" />
	</bean>

	<bean id="Monitor"
		class="com.google.enterprise.connector.monitor.HashMapMonitor" />

	<bean id="WorkQueue"
		class="com.google.enterprise.connector.common.WorkQueue">
		<constructor-arg index="0" type="int" value="20" />
	</bean>

	<bean id="Manager"
		class="com.google.enterprise.connector.manager.ProductionManager">
		<property name="connectorScheduleStore"
			ref="ConnectorScheduleStore" />
		<property name="connectorStateStore"
			ref="ConnectorStateStore" />
		<property name="scheduler"
			ref="TraversalScheduler" />
		<property name="instantiator" ref="Instantiator" />
	</bean>

	<bean id="TraversalScheduler"
		class="com.google.enterprise.connector.scheduler.TraversalScheduler">
		<constructor-arg index="0" ref="Instantiator" />
		<constructor-arg index="1" ref="Monitor" />
		<constructor-arg index="2" ref="WorkQueue" />
		<constructor-arg index="3" ref="ConnectorScheduleStore" />
	</bean>

</beans>
